# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# node_modules
node_modules/
frontend/node_modules/

# local env files
.env
.env*.local
frontend/.env
frontend/.env*.local
tmp/
# next.js
frontend/.next/
frontend/out/

# test coverage
coverage/

# mac
.DS_Store

# build
dist/
build/

# python
backend/venv/
**/__pycache__/
*.pyc
