{
    "openapi": "3.1.0",
    "x-stoplight": {
        "id": "dp985j2ujsjem"
    },
    "info": {
        "title": "Hospitable API V2",
        "version": "2.0",
        "summary": "Send message for Inquiry",
        "description": "    <!-- theme: warning -->"
    },
    "servers": [
        {
            "url": "https://public.api.hospitable.com/v2",
            "description": "Production"
        }
    ],
    "components": {
        "schemas": {
            "Reservation": {
                "$ref": "../Reservation.json",
                "x-stoplight": {
                    "id": "cpcemltee1eo3"
                }
            },
            "ReservationFinancials": {
                "type": "object",
                "description": "Financial information for the reservation",
                "x-internal": false,
                "required": [
                    "accommodation",
                    "currency"
                ],
                "properties": {
                    "accommodation": {
                        "type": "number",
                        "format": "float",
                        "minimum": 0,
                        "description": "Accommodation fee amount"
                    },
                    "cleaning_fee": {
                        "type": [
                            "number",
                            "null"
                        ],
                        "description": "Cleaning fee amount"
                    },
                    "linen_fee": {
                        "type": [
                            "number",
                            "null"
                        ],
                        "description": "Linen fee amount"
                    },
                    "management_fee": {
                        "type": [
                            "number",
                            "null"
                        ],
                        "description": "Management fee amount"
                    },
                    "community_fee": {
                        "type": [
                            "number",
                            "null"
                        ],
                        "description": "Community fee amount"
                    },
                    "resort_fee": {
                        "type": [
                            "number",
                            "null"
                        ],
                        "description": "Resort fee amount"
                    },
                    "pet_fee": {
                        "type": [
                            "number",
                            "null"
                        ],
                        "description": "Pet fee amount"
                    },
                    "pass_through_taxes": {
                        "type": [
                            "number",
                            "null"
                        ],
                        "description": "Pass through taxes amount"
                    },
                    "other_fees": {
                        "type": "array",
                        "description": "Additional fees not covered by standard fee types",
                        "items": {
                            "type": "object",
                            "required": [
                                "amount",
                                "label"
                            ],
                            "properties": {
                                "amount": {
                                    "type": "number",
                                    "format": "float",
                                    "minimum": 0,
                                    "description": "The fee amount"
                                },
                                "label": {
                                    "type": "string",
                                    "description": "Display label for the fee"
                                }
                            }
                        }
                    },
                    "currency": {
                        "type": "string",
                        "x-stoplight": {
                            "id": "u33alw7zoi35v"
                        },
                        "example": "USD"
                    }
                }
            },
            "GuestCounts": {
                "type": "object",
                "description": "Guest count information",
                "x-internal": false,
                "required": [
                    "adults"
                ],
                "properties": {
                    "adults": {
                        "type": "integer",
                        "minimum": 1,
                        "description": "Number of adult guests"
                    },
                    "children": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "default": 0,
                        "description": "Number of child guests"
                    },
                    "infants": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "default": 0,
                        "description": "Number of infant guests"
                    },
                    "pets": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "default": 0,
                        "description": "Number of pets"
                    }
                }
            },
            "GuestInfo": {
                "type": "object",
                "description": "Guest information",
                "x-internal": false,
                "required": [
                    "first_name",
                    "last_name",
                    "email"
                ],
                "properties": {
                    "first_name": {
                        "type": "string",
                        "description": "Guest's first name"
                    },
                    "last_name": {
                        "type": "string",
                        "description": "Guest's last name"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Guest's email address"
                    },
                    "phone": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Guest's phone number"
                    }
                }
            },
            "Property": {
                "$ref": "../Property.json",
                "x-stoplight": {
                    "id": "yxkt0gu4kdw8u"
                }
            },
            "Message": {
                "type": "object",
                "$ref": "../Message.json",
                "x-stoplight": {
                    "id": "xw3ayuv96iq0n"
                },
                "title": ""
            },
            "Review": {
                "$ref": "../Review.json",
                "x-stoplight": {
                    "id": "tsfjmhb6l4lib"
                }
            },
            "4xx": {
                "x-stoplight": {
                    "id": "hh960kr7vyo1c"
                }
            }
        },
        "securitySchemes": {
            "Bearer-Authorization": {
                "type": "http",
                "scheme": "bearer",
                "description": "Enter the token with the `Bearer ` prefix, e.g. `Bearer abcde12345`"
            }
        }
    },
    "security": [
        {
            "Bearer-Authorization": []
        }
    ],
    "paths": {
        "/properties": {
            "get": {
                "summary": "Get Properties",
                "tags": [
                    "Properties"
                ],
                "description": "> 📘 **Available includes:**\n> \n> - user\n> - listings (required: `listing:read` scope)\n> - details\n> - bookings",
                "operationId": "get-properties",
                "parameters": [
                    {
                        "name": "include",
                        "in": "query",
                        "description": "What relationships of the property should be included in the response.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "listings"
                            ]
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page of results to return.",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "The number of results to include per page.",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "x-stoplight": {
                                                    "id": "ztk1jvfev2sv1"
                                                },
                                                "allOf": [
                                                    {
                                                        "$ref": "../PropertyFull.json",
                                                        "x-stoplight": {
                                                            "id": "14nbvvak757r2"
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string",
                                                    "example": "https://public.api.hospitable.com/v2/properties?page=1"
                                                },
                                                "last": {
                                                    "type": "string",
                                                    "example": "https://public.api.hospitable.com/v2/properties?page=2"
                                                },
                                                "prev": {},
                                                "next": {
                                                    "type": "string",
                                                    "example": "https://public.api.hospitable.com/v2/properties?page=2"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1,
                                                    "default": 0
                                                },
                                                "from": {
                                                    "type": "integer",
                                                    "example": 1,
                                                    "default": 0
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 2,
                                                    "default": 0
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {},
                                                            "label": {
                                                                "type": "string",
                                                                "example": "&laquo; Previous"
                                                            },
                                                            "active": {
                                                                "type": "boolean",
                                                                "example": false,
                                                                "default": true
                                                            }
                                                        }
                                                    }
                                                },
                                                "path": {
                                                    "type": "string",
                                                    "example": "https://public.api.hospitable.com/v2/properties"
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 10,
                                                    "default": 10,
                                                    "maximum": 100
                                                },
                                                "to": {
                                                    "type": "integer",
                                                    "example": 10,
                                                    "default": 0
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 15,
                                                    "default": 0
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": {
                                            "status_code": 400,
                                            "reason_phrase": "Invalid pagination parameter supplied."
                                        }
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status_code": {
                                            "type": "integer",
                                            "example": 400,
                                            "default": 0
                                        },
                                        "reason_phrase": {
                                            "type": "string",
                                            "example": "Invalid pagination parameter supplied."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-sl-internally-excluded": true,
                                    "x-sl-error-message": "You do not have permission to view this reference"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-sl-internally-excluded": true,
                                    "x-sl-error-message": "You do not have permission to view this reference"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-stoplight": {
                    "id": "qc4x36uhxinx3"
                }
            }
        },
        "/properties/search": {
            "get": {
                "summary": "Search Properties",
                "tags": [
                    "Properties"
                ],
                "description": "This endpoint allows you to search up to **3 years** in the future and for a max period of **90 days**.\n\nIt will always return all properties in the account. If a property is unbookable, the reason will be provided in the response under `availability.details.notAvailableReason`.\n\n> 📘 **Available includes:**\n> \n> - listings (required: `listing:read` scope)\n> - details\n",
                "operationId": "search-properties",
                "parameters": [
                    {
                        "name": "include",
                        "in": "query",
                        "description": "What relationships of the property should be included in the response.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "listings"
                            ]
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2024-08-16"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2024-10-21"
                        }
                    },
                    {
                        "name": "adults",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "children",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "infants",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pets",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "location",
                        "in": "query",
                        "style": "deepObject",
                        "schema": {
                            "properties": {
                                "latitude": {
                                    "type": "number",
                                    "format": "float"
                                },
                                "longitude": {
                                    "type": "number",
                                    "format": "float"
                                }
                            },
                            "required": [
                                "latitude",
                                "longitude"
                            ],
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "property": {
                                                        "allOf": [
                                                            {
                                                                "$ref": "../Property.json"
                                                            },
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "details": {
                                                                        "$ref": "../Property_details.json"
                                                                    }
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    "pricing": {
                                                        "type": "object",
                                                        "properties": {
                                                            "daily": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "date": {
                                                                            "type": "string",
                                                                            "example": "2019-01-02"
                                                                        },
                                                                        "price": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "currency": {
                                                                                    "type": "string",
                                                                                    "example": "USD"
                                                                                },
                                                                                "amount": {
                                                                                    "type": "integer",
                                                                                    "example": 9800,
                                                                                    "default": 0
                                                                                },
                                                                                "formatted_string": {
                                                                                    "type": "string",
                                                                                    "example": "$98.00"
                                                                                },
                                                                                "formatted_decimal": {
                                                                                    "type": "string",
                                                                                    "example": "98.00"
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "total_without_taxes": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "currency": {
                                                                        "type": "string",
                                                                        "example": "USD"
                                                                    },
                                                                    "amount": {
                                                                        "type": "integer",
                                                                        "example": 9800,
                                                                        "default": 0
                                                                    },
                                                                    "formatted_string": {
                                                                        "type": "string",
                                                                        "example": "$98.00"
                                                                    },
                                                                    "formatted_decimal": {
                                                                        "type": "string",
                                                                        "example": "98.00"
                                                                    }
                                                                }
                                                            },
                                                            "total": {}
                                                        }
                                                    },
                                                    "availability": {
                                                        "type": "object",
                                                        "properties": {
                                                            "available": {
                                                                "type": "boolean",
                                                                "example": false,
                                                                "default": true
                                                            },
                                                            "details": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "notAvailableReason": {
                                                                            "type": "string",
                                                                            "example": "maximum_number_of_guests_exceeded"
                                                                        },
                                                                        "date": {
                                                                            "type": "string",
                                                                            "example": "2019-01-02T00:00:00.000000Z"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "distance_in_km": {
                                                        "type": "integer",
                                                        "example": 10,
                                                        "default": 0
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": {
                                            "status_code": 400,
                                            "reason_phrase": "Invalid pagination parameter supplied."
                                        }
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status_code": {
                                            "type": "integer",
                                            "example": 400,
                                            "default": 0
                                        },
                                        "reason_phrase": {
                                            "type": "string",
                                            "example": "Invalid pagination parameter supplied."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-sl-internally-excluded": true,
                                    "x-sl-error-message": "You do not have permission to view this reference"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-sl-internally-excluded": true,
                                    "x-sl-error-message": "You do not have permission to view this reference"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-stoplight": {
                    "id": "dz41u3tx6iy20"
                }
            }
        },
        "/properties/{uuid}": {
            "get": {
                "summary": "Get Property by UUID",
                "tags": [
                    "Properties"
                ],
                "description": "> 📘 **Available includes:**\n> \n> - user\n> - listings (required: `listing:read` scope)\n> - details\n> - bookings",
                "operationId": "get-property",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "The UUID of the property to retrieve.",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "What relationships of the property should be included in the response.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "listings"
                            ]
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "../PropertyFull.json"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-sl-internally-excluded": true,
                                    "x-sl-error-message": "You do not have permission to view this reference"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-sl-internally-excluded": true,
                                    "x-sl-error-message": "You do not have permission to view this reference"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-stoplight": {
                    "id": "7fu6aoxy7h0o4"
                }
            }
        },
        "/properties/{uuid}/images": {
            "get": {
                "summary": "Get Property Images",
                "tags": [
                    "Properties"
                ],
                "description": "<!-- theme: warning -->\n\n> Only images that are [scoped to the Direct channel](https://help.hospitable.com/en/articles/10709542-managing-your-hospitable-direct-site-contents#h_a28cd975cd:~:text=Add%20photos%20to%20all%20platforms%3A) will be returned. This is managed in the Property Details page in Hospitable.",
                "operationId": "get-property-images",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "The UUID of the property to retrieve.",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "url": {
                                                        "type": "string",
                                                        "example": "http://www.example.com/image-url"
                                                    },
                                                    "thumbnail_url": {
                                                        "type": "string",
                                                        "example": "http://example.com/thumbnail-url"
                                                    },
                                                    "caption": {
                                                        "type": "string",
                                                        "example": "Sample caption"
                                                    },
                                                    "order": {
                                                        "type": "integer",
                                                        "example": 1,
                                                        "default": 0
                                                    },
                                                    "last_updated_at": {
                                                        "type": "string",
                                                        "example": "2023-05-15T00:00:00.000000Z"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "data": [
                                                {
                                                    "url": "http://www.example.com/image-url",
                                                    "thumbnail_url": "http://example.com/thumbnail-url",
                                                    "caption": "Sample caption",
                                                    "order": 0,
                                                    "last_updated_at": "2023-05-15T00:00:00.000000Z"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-sl-internally-excluded": true,
                                    "x-sl-error-message": "You do not have permission to view this reference"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-sl-internally-excluded": true,
                                    "x-sl-error-message": "You do not have permission to view this reference"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-stoplight": {
                    "id": "qpa4niiposx20"
                }
            }
        },
        "/properties/{uuid}/calendar": {
            "get": {
                "summary": "Get Property Calendar",
                "tags": [
                    "Properties"
                ],
                "description": "<!-- theme: warning -->\n> 📘 Required scopes:\n> \n> - `property:read`\n> - `calendar:read`",
                "operationId": "get-property-calendar",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "The UUID of the property to retrieve.",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "listing_id": {
                                                    "type": "string",
                                                    "x-stoplight": {
                                                        "id": "8zcw5bkf9hir2"
                                                    },
                                                    "example": "641292503357103111",
                                                    "deprecated": true
                                                },
                                                "provider": {
                                                    "type": "string",
                                                    "x-stoplight": {
                                                        "id": "7jkn92ee45vqq"
                                                    },
                                                    "deprecated": true
                                                },
                                                "start_date": {
                                                    "type": "string",
                                                    "example": "2023-10-01"
                                                },
                                                "end_date": {
                                                    "type": "string",
                                                    "example": "2023-10-31"
                                                },
                                                "days": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "date": {
                                                                "type": "string",
                                                                "example": "2023-10-01"
                                                            },
                                                            "day": {
                                                                "type": "string",
                                                                "example": "SUNDAY"
                                                            },
                                                            "min_stay": {
                                                                "type": "integer",
                                                                "x-stoplight": {
                                                                    "id": "5bhwxr4se6wy8"
                                                                }
                                                            },
                                                            "status": {
                                                                "type": "object",
                                                                "x-stoplight": {
                                                                    "id": "cwee81675fnpc"
                                                                },
                                                                "properties": {
                                                                    "reason": {
                                                                        "description": "`BLOCKED` is used for all other reasons a date is unavailable such as: the date is in the past, manually blocked, closed due to lead time settings, date is held for a request/invitation to book.",
                                                                        "enum": [
                                                                            "RESERVED",
                                                                            "AVAILABLE",
                                                                            "BLOCKED"
                                                                        ]
                                                                    },
                                                                    "source_type": {
                                                                        "description": "The source of the availability",
                                                                        "anyOf": [
                                                                            {
                                                                                "enum": [
                                                                                    "USER",
                                                                                    "VENDOR",
                                                                                    "PLATFORM",
                                                                                    "AVAILABILITY_WINDOW",
                                                                                    "TURNOVER_DAY",
                                                                                    "ADVANCED_NOTICE",
                                                                                    "UPSELL",
                                                                                    "RESERVATION"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ]
                                                                    },
                                                                    "source": {
                                                                        "description": "The source of the availability",
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "string",
                                                                                "example": "Airbnb"
                                                                            },
                                                                            {
                                                                                "type": "null",
                                                                                "x-stoplight": {
                                                                                    "id": "63im3l3zwpjdm"
                                                                                }
                                                                            }
                                                                        ]
                                                                    },
                                                                    "available": {
                                                                        "type": "boolean",
                                                                        "example": false,
                                                                        "default": true
                                                                    }
                                                                }
                                                            },
                                                            "price": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "amount": {
                                                                        "type": "integer",
                                                                        "example": 15000,
                                                                        "default": 0
                                                                    },
                                                                    "currency": {
                                                                        "type": "string",
                                                                        "example": "EUR"
                                                                    },
                                                                    "formatted": {
                                                                        "type": "string",
                                                                        "example": "€150.00"
                                                                    }
                                                                }
                                                            },
                                                            "closed_for_checkin": {
                                                                "type": "boolean",
                                                                "x-stoplight": {
                                                                    "id": "d1xbryjwd0thz"
                                                                }
                                                            },
                                                            "closed_for_checkout": {
                                                                "type": "boolean",
                                                                "x-stoplight": {
                                                                    "id": "cte2dycrjd2jo"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-sl-internally-excluded": true,
                                    "x-sl-error-message": "You do not have permission to view this reference"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-sl-internally-excluded": true,
                                    "x-sl-error-message": "You do not have permission to view this reference"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "put": {
                "summary": "Update Property Calendar",
                "tags": [
                    "Properties"
                ],
                "description": "Allows updating a property’s calendar data for up to 1,095 days (3 years) into the future.\n\n<!-- theme: warning -->\n> 📘 Required scopes:\n> \n> - `property:read`\n> - `calendar:write`\n\n> ❗️**Rate limit**: 1000 requests per minute for the calendar endpoint.\n",
                "operationId": "update-property-calendar",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "The UUID of the property to update.",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "dates": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "maxProperties": 60,
                                            "additionalProperties": false,
                                            "properties": {
                                                "date": {
                                                    "type": "string",
                                                    "description": "YYYY-MM-DD format",
                                                    "format": "date"
                                                },
                                                "price": {
                                                    "type": "object",
                                                    "properties": {
                                                        "amount": {
                                                            "type": "integer",
                                                            "description": "Amount in base units (e.g. cents for USD or EUR)",
                                                            "format": "int32",
                                                            "example": 1000
                                                        }
                                                    }
                                                },
                                                "available": {
                                                    "type": "boolean",
                                                    "description": "Is this date available?"
                                                },
                                                "min_stay": {
                                                    "type": "integer",
                                                    "description": "Minimum nights stay",
                                                    "format": "int32",
                                                    "example": 3
                                                },
                                                "closed_for_checkout": {
                                                    "type": "boolean",
                                                    "x-stoplight": {
                                                        "id": "tep7fy69q2vtk"
                                                    },
                                                    "description": "Is the date available for checkout?"
                                                },
                                                "closed_for_checkin": {
                                                    "type": "boolean",
                                                    "x-stoplight": {
                                                        "id": "k4tbe9nm0a5c7"
                                                    },
                                                    "description": "Is the date available for checkout?"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": {
                                            "status": "accepted"
                                        }
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "accepted"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-sl-internally-excluded": true,
                                    "x-sl-error-message": "You do not have permission to view this reference"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity\n\nExamples:\n- Calendar is restricted.\n- Hospitable Dynamic Pricing is enabled, therefore prices cannot be updated via the API.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status_code": {
                                            "type": "string",
                                            "x-stoplight": {
                                                "id": "c4mdt13yh2q55"
                                            },
                                            "example": "422"
                                        },
                                        "reason_phrase": {
                                            "type": "string",
                                            "x-stoplight": {
                                                "id": "plzmwlfyf2q8l"
                                            },
                                            "example": "This property has a channel that is calendar restricted, and updates can not be made to the calendar"
                                        }
                                    }
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "status_code": "422",
                                            "reason_phrase": "This property has a channel that is calendar restricted, and updates can not be made to the calendar"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-sl-internally-excluded": true,
                                    "x-sl-error-message": "You do not have permission to view this reference"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-stoplight": {
                    "id": "lziaxr9e1j27m"
                }
            }
        },
        "/properties/{uuid}/ical-imports": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "uuid",
                    "in": "path",
                    "description": "The UUID of the property.",
                    "required": true
                }
            ],
            "post": {
                "summary": "Create iCal Import",
                "tags": [
                    "Properties"
                ],
                "description": "<!-- theme: warning -->\n> 📘 **Scopes required**:\n> - ical:write\n\nCreate a new external iCal import for a property. This allows you to import bookings into a Hospitable property from an external iCal calendar feed. Useful for OTAs that we do not have a native integration with.\n\nAdding a new iCal feed will trigger an import of all bookings from the feed within 1 minute.",
                "operationId": "create-property-ical-import",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "url"
                                ],
                                "properties": {
                                    "url": {
                                        "type": "string",
                                        "format": "uri",
                                        "example": "https://example.com/calendar.ics",
                                        "description": "The URL of the iCal feed to import."
                                    },
                                    "name": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "example": "Vacation Rental Calendar",
                                        "description": "A friendly name for this iCal import."
                                    },
                                    "host": {
                                        "type": "object",
                                        "description": "Host information for the iCal import.",
                                        "properties": {
                                            "first_name": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "example": "John",
                                                "maxLength": 255
                                            },
                                            "last_name": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "example": "Doe",
                                                "maxLength": 255
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "accepted"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "properties": {
                                                "url": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "You cannot use a local/testing domain for iCal imports."
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-sl-internally-excluded": true,
                                    "x-sl-error-message": "You do not have permission to view this reference"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "properties": {
                                                "url": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "examples": [
                                                            "We could not find a valid iCal feed at that link.",
                                                            "This iCal feed has already been used on another Hospitable account.",
                                                            "You have already added this iCal feed on another property."
                                                        ]
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-sl-internally-excluded": true,
                                    "x-sl-error-message": "You do not have permission to view this reference"
                                }
                            }
                        }
                    }
                },
                "x-stoplight": {
                    "id": "create-ical-import"
                }
            }
        },
        "/properties/{uuid}/ical-imports/{icalUuid}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "uuid",
                    "in": "path",
                    "description": "The UUID of the property.",
                    "required": true
                },
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "icalUuid",
                    "in": "path",
                    "description": "The UUID of the iCal import.",
                    "required": true
                }
            ],
            "put": {
                "summary": "Update iCal Import",
                "tags": [
                    "Properties"
                ],
                "description": "<!-- theme: warning -->\n> 📘 **Scopes required**:\n> - ical:write\n\n> **Access Control**:\n> Only PAT tokens and the same vendor that created the iCal import can edit it.\n\nUpdate an existing external iCal import for a property. You can update the URL, name, and host information. Editing the URL will trigger a re-import of the iCal feed. If future bookings on the previous URL are not present in the new URL, they will be marked as cancelled in our system.",
                "operationId": "update-property-ical-import",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "url"
                                ],
                                "properties": {
                                    "url": {
                                        "type": "string",
                                        "format": "uri",
                                        "example": "https://example.com/calendar.ics",
                                        "description": "The URL of the iCal feed to import."
                                    },
                                    "name": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "example": "Vacation Rental Calendar",
                                        "description": "An optional friendly name for this iCal import. Can be null. This is shown in the Hospitable UI when viewing the property."
                                    },
                                    "host": {
                                        "type": "object",
                                        "description": "Host information for the iCal import.",
                                        "properties": {
                                            "first_name": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "example": "John",
                                                "maxLength": 255,
                                                "description": "An optional first name for the host. Can be null. If null, Hospitable will use host name data from other connected accounts on that property. This is used for short codes in messaging rules."
                                            },
                                            "last_name": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "example": "Doe",
                                                "maxLength": 255,
                                                "description": "An optional last name for the host. Can be null. If null, Hospitable will use host name data from other connected accounts on that property. This is used for short codes in messaging rules."
                                            }
                                        }
                                    },
                                    "resync": {
                                        "type": "boolean",
                                        "default": false,
                                        "description": "Optional field that can be excluded. Useful if you have fixed the underlying URL and the URL hasn't changed, and you want Hospitable to reconnect and re-fetch the iCal feed. This operation is throttled to a maximum of once every 15 minutes per feed."
                                    }
                                },
                                "additionalProperties": false
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "accepted"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "properties": {
                                                "url": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "You cannot use a local/testing domain for iCal imports."
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "forbidden"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-sl-internally-excluded": true,
                                    "x-sl-error-message": "You do not have permission to view this reference"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "properties": {
                                                "url": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "We could not find a valid iCal feed at that link."
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-sl-internally-excluded": true,
                                    "x-sl-error-message": "You do not have permission to view this reference"
                                }
                            }
                        }
                    }
                },
                "x-stoplight": {
                    "id": "update-ical-import"
                }
            }
        },
        "/properties/{uuid}/quote": {
            "post": {
                "summary": "Generate a quote",
                "tags": [
                    "Properties"
                ],
                "description": "<!-- theme: warning -->\n> 📘 **Scopes required**:\n> - quote:write\n\nThis endpoint will allow you to generate a quote for a Direct property. The quote includes all the financials and a link to our booking flow allowing you to redirect the user to complete the booking.",
                "operationId": "create-quote",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "The UUID of the property to get a quote for.",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "checkin_date",
                                    "checkout_date",
                                    "guests"
                                ],
                                "properties": {
                                    "checkin_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-10-01"
                                    },
                                    "checkout_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-10-01"
                                    },
                                    "guests": {
                                        "type": "object",
                                        "required": [
                                            "adults"
                                        ],
                                        "properties": {
                                            "adults": {
                                                "type": "number",
                                                "min": 1
                                            },
                                            "children": {
                                                "type": "number",
                                                "min": 0,
                                                "description": "number of children under 11"
                                            },
                                            "infants": {
                                                "type": "number",
                                                "min": 0,
                                                "description": "number of children under 3"
                                            },
                                            "pets": {
                                                "min": 0,
                                                "type": "number"
                                            }
                                        }
                                    },
                                    "guest_details": {
                                        "type": "object",
                                        "description": "The details of the primary guest",
                                        "properties": {
                                            "first_name": {
                                                "type": "string",
                                                "example": "John Doe"
                                            },
                                            "last_name": {
                                                "type": "string",
                                                "example": "John Doe"
                                            },
                                            "email": {
                                                "type": "string",
                                                "example": "john@guest.com",
                                                "format": "email"
                                            },
                                            "phone": {
                                                "type": "string",
                                                "example": "+12015550123"
                                            }
                                        }
                                    },
                                    "promo_code": {
                                        "type": "string",
                                        "description": "A promo code to apply to the quote",
                                        "example": "DISCOUNT"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "quote_id": {
                                                    "type": "string",
                                                    "example": "40c9b4fe-6594-4020-8593-886cb91ca35f",
                                                    "format": "uuid"
                                                },
                                                "booking_url": {
                                                    "type": "string",
                                                    "description": "The url to initiate the guest booking flow."
                                                },
                                                "currency": {
                                                    "type": "string",
                                                    "x-stoplight": {
                                                        "id": "rvydorgxhjhg7"
                                                    },
                                                    "example": "USD"
                                                },
                                                "financials": {
                                                    "type": "object",
                                                    "properties": {
                                                        "taxes": {
                                                            "type": "array",
                                                            "description": "All the taxes applicable to the quote.",
                                                            "items": {
                                                                "allOf": [
                                                                    {
                                                                        "$ref": "../FinancialV2.json"
                                                                    },
                                                                    {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "label": {
                                                                                "type": "string",
                                                                                "example": "Lodging taxes"
                                                                            },
                                                                            "category": {
                                                                                "type": "string",
                                                                                "example": "Pass-through taxes"
                                                                            }
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        "fees": {
                                                            "type": "array",
                                                            "description": "All the fees applicable to the quote.",
                                                            "items": {
                                                                "allOf": [
                                                                    {
                                                                        "$ref": "../FinancialV2.json"
                                                                    },
                                                                    {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "label": {
                                                                                "type": "string",
                                                                                "example": "Guest Service Fee"
                                                                            },
                                                                            "category": {
                                                                                "type": "string",
                                                                                "example": "Service fees"
                                                                            }
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        "discounts": {
[...]
